body{
    background-color: rgb(214, 214, 214);
    text-align: center;
    color: rgb(51, 51, 51);
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    height: 150px;
    align-items: center;
    border-bottom: solid rgb(173, 156, 101);
    background: rgb(69, 00, 132);
}

.text-box{
    padding: 10px 50px 20px 50px;
}

.Header-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 4;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 650px;
}

#ball-animation{
    width: 600px;
    height: 200px;
}



.header-link {
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    color: rgb(51, 51, 51);
    text-size-adjust: 200%;
    width: 200px;
    height: 50px;
    margin: 10px;
    flex-wrap: wrap;
}


.header-link:hover{
    background-color: rgb(203, 182, 119);

}

.Header-logo {
    display: flex;
    float: left;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Header-logo img{
    max-width: 300px;
    height: auto;
}
.animation {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes animation {
    0%   { left:190px; top:35px;}
    50%  { left: 1000px; top:200px;}
    100%   { left:190px; top:35px;}
  }

@media only screen and (max-width: 1000px) {
    .Header-logo img{
        height: auto;
        width: 0px;
        visibility: hidden;
    }

    .header-link {
        width: auto;
        margin: 10px;
        flex-wrap: wrap;
    }

    .header-link a {
        text-decoration: none;
        font-size: small;
        color: rgb(51, 51, 51);
    }
    
}